<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Space X</title>
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="main-container">
    <header class="header">
      <a href="/"><img src="../img/logo.png" alt="logo" class="header__logo"></a>
      <nav class="navbar">
        <a href="/launches" class="navbar__button">
          <img src="../img/launches.svg" alt="Launches" class="navbar__button__icon">
          <p class="navbar__button__text">Launches</p>
        </a>
        <a href="/rockets" class="navbar__button">
          <img src="../img/rockets.svg" alt="Rockets" class="navbar__button__icon">
          <p class="navbar__button__text">Rockets</p>
        </a>
        <a href="/missions" class="navbar__button">
            <img src="../img/missions.svg" alt="Missions" class="navbar__button__icon">
            <p class="navbar__button__text">Missions</p>
        </a>
        <a href="/latest" class="navbar__button">
          <img src="../img/latest.svg" alt="Latest Launch" class="navbar__button__icon">
          <p class="navbar__button__text">Latest</p>
        </a>
        <a href="/next" class="navbar__button">
          <img src="../img/next.svg" alt="Next Launch" class="navbar__button__icon">
          <p class="navbar__button__text">Next</p>
        </a>
      </nav>

    </header>

    <div class="content-container">
      {{{body}}}
    </div>

  </div>
</body>

</html>