<div class="page-container">
  <div class="index-card-container">
    <a href="/launches" class="index-card__button">
      <div class="index-card">
        <h2 class="index-card__title">
          Launches
        </h2>
      </div>
    </a>

    <a href="/rockets" class="index-card__button">
      <div class="index-card">
        <h2 class="index-card__title">
          Rockets
        </h2>
      </div>
    </a>

    <a href="/missions" class="index-card__button">
      <div class="index-card">
        <h2 class="index-card__title">
          Missions
        </h2>
      </div>
    </a>

    <a href="/latest" class="index-card__button">
      <div class="index-card">
        <h2 class="index-card__title">
          Latest launch
        </h2>
      </div>
    </a>
    <a href="/next" class="index-card__button">
      <div class="index-card">
        <h2 class="index-card__title">
          Next launch
        </h2>
      </div>
    </a>
  </div>
</div>