<div>
  <h1>Test.hbs getting MOCK-data</h1>
  <img src="{{ data.links.mission_patch_small }}" alt="">
  <p>Flight number: {{ data.flight_number }}</p>
  <p>Mission name: {{ data.mission_name }}</p>
  <p>Launch year: {{ data.launch_year }}</p>
</div>